@model List<SelectListItem>

<h4>Professores</h4>
<div class="form-group">
    @foreach (var p in Model)
    {
        <div class="col-md-4">
            <input type="checkbox"
                   name="ProfessoresSelecionados"
                   value="@p.Value" @(Html.Raw(p.Selected ? "checked=\"checked\"" : "")) />
            @p.Text
        </div>
    }

</div>