@model IEnumerable<AcmeCursos.Models.Inscricao>

<h4>Inscrições</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Curso.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.DataInscricao)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Curso.Nome)
            </td>
            <td>
                @Html.DisplayFor(m => item.DataInscricao)
            </td>
        </tr>
    }
</table>
